*{
  box-sizing: border-box;
}

#title{
  text-align: left;
  color: black;
  font-weight: bolder;
  font-size: 1.8em;
}
#title:hover{
  color: white;
}

#header-nav {
    background-color: gray;
    border-radius: 0;
    border: 0;
    height: 80px;
}

#header-nav button {
    margin-top: 22px;
    background-color: lightgray;
}
#header-nav button:hover {
    background-color: white;
}
.navbar-collapse {
    border-top: 0;
}

#nav-list {
    background-color: lightgray;
}
#nav-list a {
    color: black;
    font-size: 1.2em;
}
#nav-list a:hover {
    background-color: white;
}

/*.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}*/

#heading{
  text-decoration-color: black;
  padding-top: 10px;
  text-decoration: bold;
}

#chicken-tile, #beef-tile, #sushi-tile{
  background-color: lightgray;
  justify-content: center;
  /*margin: 10px;*/
}
#chicken-tile:hover, #beef-tile:hover, #sushi-tile:hover{
  box-shadow: 0 1px 5px 1px black;
}

h3{
  text-decoration-color: black;
  text-decoration: bold;
  padding-top: 10px;
}

p{
  padding: 10px
}

.row{
  width: 100%;
}

#main-content{
  /*width: 100%;*/
}

#go-back{
  text-align: right;
}
