body{
  box-sizing: border-box;
}

nav{
  z-index: 1;
}
.navbar-brand h1{
  text-align: left;
  text-decoration-color: #000000;
  font-weight: bold;
}

#header-nav {
    background-color: gray;
    border-radius: 0;
    border: 0;
}

#header-nav button {
    margin-top: 22px;
    background-color: lightgray;
}
#header-nav button:hover {
    background-color: white;
}
.navbar-collapse {
    border-top: 0;
}

#nav-list {
    background-color: lightgray;
}
#nav-list a {
    color: black;
    font-size: 1.2em;
}
#nav-list a:hover {
    background-color: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

#heading{
  text-decoration-color: black;
  padding-top: 80px;
  text-decoration: bold;
}

#chicken-tile{
  background-color: lightgray;
  justify-content: center;
}

h3{
  text-decoration-color: black;
  text-decoration: bold;
  padding-top: 10px;
}

p{
  padding: 20px;
}

@media (max-width: 767px) {

  .navbar-brand h1{

  }

}
